 body {

    background-color: rgb(133, 185, 222) !important;
}

.btn-primary {


border-color:rgb(221, 225, 226);
font-family: 'racing sans one';
background-image: linear-gradient(to right, lightblue, darkblue);
}

.container h1 {
  
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, lightblue, darkblue);
}




span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}