body {

    background-color: rgb(237, 230, 230);
}

.btn-primary {


border-color:rgb(221, 225, 226);
font-family: 'racing sans one';
background-image: linear-gradient(to right, lightblue, darkblue);
}

.container h1 {
  
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, lightblue, darkblue);
}




span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}