 body {
     text-align: center !important;

    background-color:rgb(133, 185, 222) !important;
}

.btn-primary {

display: flex;
border-color:rgb(221, 225, 226)!important ;
font-family: 'racing sans one';
background-image: linear-gradient(to right, lightblue, darkblue);

}

.past-search-buttons {
    text-align: center !important;
}

header h1 {
  
    font-family: 'racing sans one';
    background-image: linear-gradient(to right, lightblue, darkblue);
}

#forecast {
    
    color: white;
    font-family: 'racing sanes one' !important;
}

#current-forecast {
    background-image: linear-gradient(to right, lightblue, darkblue) !important;
    color: white;
    font-family: 'racing sanes one' !important;
}

.forecast-card {
    background-color: darkblue !important;
}


span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

.forecast-card{
    justify-content:column;
}


@media screen and (max-width: 600px) {

   
    .row{
        justify-content: center;
    
    }

    .text-primary{
        text-align: center !important;
        font-size:50% !important;
    }

    .btn-primary {
        max-width: 100% !important;
        font-size: 50% !important;
    }
    

 #current-weather-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:100%;
 }

 #fiveday-container {
    display:flex;
    flex-direction: column;
    align-items: center; 
   max-width:100%;   
 }
 #city-input {
     max-width:100%;
 }

}

